# Ignore PyCharm files
.idea/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore models saves
saves

.venv/

logs/
marl/env/tianshou/trained_models/checkpoints/
placement_runs/
model/trained_models/
trained_models/